body{
    margin:0;
    padding:0;
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

.contenedor{
    width:90%;
    max-width:1100px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 5px 20px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:30px;
}

.formulario{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-bottom:25px;
}

.formulario input,
.formulario select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

.btnGuardar{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.btnGuardar:hover{
    background:#1d4ed8;
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#2563eb;
    color:white;
}

th,td{
    padding:12px;
    text-align:center;
    border:1px solid #ddd;
}

tbody tr:nth-child(even){
    background:#f9fafb;
}

.btnEditar{
    background:#16a34a;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    margin-right:8px;
}

.btnEliminar{
    background:#dc2626;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.btnEditar:hover{
    background:#15803d;
}

.btnEliminar:hover{
    background:#b91c1c;
}